<div class="well">
  Welcome to OneColor...

  <ul>
    <li>{{#link-to 'colors.color' '#ff0000'}}Red{{/link-to}}</li>
    <li>{{#link-to 'colors.color' '#00ff00'}}Green{{/link-to}}</li>
    <li>{{#link-to 'colors.color' '#0000ff'}}Blue{{/link-to}}</li>
  </ul>
</div>
