<div class="well">
  Welcome to OneColor...

  <ul>
    <li>{{#linkTo 'colors.color' 'ff0000'}}Red{{/linkTo}}</li>
    <li>{{#linkTo 'colors.color' '00ff00'}}Green{{/linkTo}}</li>
    <li>{{#linkTo 'colors.color' '0000ff'}}Blue{{/linkTo}}</li>
  </ul>
</div>
